body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #355E3B;
  padding: 10px;
  font-size: 24px;
  font-family: 'Pixelify Sans', sans-serif;

}

.nav-bar tr,
.nav-bar-td {
  display: inline;
  color: white;
  font-size: 20px;
}

.nav-bar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.education {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* padding:10px; */
  width: 40%;
  height: 80%;
  text-align: center;
  background-color: #5F8575;
  border-radius: 10px;
  color: white;
}

.education-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-table {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* .table-title {
  border: 3px solid green;
} */

.education-table th,
.education-table td {
  border: 2px solid black;
  padding: 5px;
}

.education {
  font-size: 35px;
}

body {
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  /* a{
    font-size: 1px;
  } */

  .education-table th,
  .education-table td {
    border: 1px solid black;
    padding: 1px;
    font-size: 15px;
  }

  nav {
    font-size: 5px;
  }

  .education {
    font-size: 20px;
  }
}
