/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */
/* body{
 font-family: Arial, Helvetica, sans-serif;
} */
/* 
body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
  margin-top: 70px;
  padding-top: 0;
  counter-reset: captions;
}  */

body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #355e3b;
  padding: 10px;
  font-size: 22px;
  font-family: "Pixelify Sans", sans-serif;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0;
}

.nav-bar li {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.nav-bar li i {
  margin-right: 5px;
}



.nav-bar a {
  color: white;
  text-decoration: none;
}


.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-container {
  width: 80%;
}
.personal-photo {
  width: 70%;
  margin: 10px auto;
  border-radius: 50%;
}
h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.aboutme-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 20px;
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
}

.Hobbies,
.Skills {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 80%;
  text-align: center;
  background-color: #5f8575;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies,
.skills {
  width: 40%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

a {
  color: #008000;
}

a:hover {
  color: #32cd32;
}

a:active {
  color: blanchedalmond;
}

@media only screen and (max-width: 600px) {
  nav {
    font-size: 18px;
  }
  .personal-photo {
    border-radius: 100px;
    width: 80%;
  }
  .img-td {
    width: 80%;
  }
  h1 {
    font-size: 35px;
  }
  .aboutme-text {
    font-size: 16px;
  }
  .Skills,
  .Hobbies {
    width: 80%;
    font-size: 20px;
  }
  .hobbies,
  .skills {
    width: 80%;
  }
 
}
